<div class="flex flex-col items-center h-screen bg-gray-50">
    <!-- Header -->
    <div class="flex flex-col items-center p-5" id="header">
        <h1 class="text-green-300 font-bebas-neue text-7xl">
            Pause<span class="text-gray-300">Tape</span>
        </h1>
        <button class="text-xs shadow-sm" (click)="toggleAudioOnOff()">
            ON/OFF
        </button>
    </div>

    <!-- Main White Container -->
    <div
        class="bg-white w-[calc(67vw)] h-[calc(67vh)] flex flex-col justify-center rounded-xl shadow-xl z-0"
    >
        <!-- Cassettes -->
        <div class="flex flex-row justify-evenly">
            <!-- Deck 1 -->
            <div class="flex flex-col items-center gap-10">
                <app-cassette
                    class="cassette1"
                    [title]="'Hard Bop #3'"
                    [color]="'green'"
                ></app-cassette>

                <div>{{ transportState1.current }}</div>

                <!-- Buttons Deck 1 -->
                <div class="container-deck1 flex flex-row gap-[3px] w-fit z-10">
                    <app-tape-recorder-button
                        *ngFor="let btn of srcButtons"
                        iconName="{{ btn }}"
                        [deckNumber]="1"
                        (onBtnDown)="onBtnDown($event)"
                        (onBtnUp)="onBtnUp($event)"
                    ></app-tape-recorder-button>
                </div>
            </div>

            <!-- Deck 2 -->
            <div class="flex flex-col items-center gap-10">
                <app-cassette
                    class="cassette2"
                    [title]="'Chop Mix #1'"
                    [color]="'blue'"
                ></app-cassette>

                <div>{{ transportState2.current }}</div>

                <!-- Buttons Deck 2 -->
                <div class="container-deck2 flex flex-row gap-[3px] w-fit z-10">
                    <app-tape-recorder-button
                        *ngFor="let btn of dstButtons"
                        iconName="{{ btn }}"
                        [deckNumber]="2"
                        (onBtnDown)="onBtnDown($event)"
                        (onBtnUp)="onBtnUp($event)"
                    ></app-tape-recorder-button>
                </div>
            </div>
        </div>
    </div>
</div>
