<div class="flex flex-col items-center bg-gray-50 h-screen">
    <!-- Header -->
    <div class="flex flex-col items-center p-5" id="header">
        <h1 class="font-bebas-neue text-7xl text-green-300">Pause<span class="text-gray-300">Tape</span></h1>
        <button class="shadow-sm text-xs" (click)="toggleAudioOnOff()">ON/OFF</button>
    </div>
    <!-- Main White Container -->
    <div class="bg-white w-[calc(67vw)] h-[calc(67vh)] rounded-xl shadow-xl z-0">
        <!-- Cassettes -->
        <div class="flex flex-row items-end justify-center">
            <app-cassette class="scale-x-50 scale-y-50" [title]="'Hard Bop #3'" [color]="'green'"></app-cassette>
            <app-cassette class="scale-x-50 scale-y-50" [title]="'Boog Mix #1'" [color]="'blue'"></app-cassette>
        </div>
        <div class="flex flex-row justify-center w-full">
            <!-- Buttons Deck 1 -->
            <div class="container flex flex-row gap-[4px] scale-x-50 scale-y-50 w-fit z-10">
                <app-tape-recorder-button [iconName]="'play'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'stop'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'rewind'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'pause'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'fast-forward'"></app-tape-recorder-button>
            </div>
            <!-- Buttons Deck 2 -->
            <div class="container flex flex-row gap-[4px] scale-x-50 scale-y-50 w-fit z-10">
                <app-tape-recorder-button [iconName]="'play'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'stop'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'record'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'rewind'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'pause'"></app-tape-recorder-button>
                <app-tape-recorder-button [iconName]="'fast-forward'"></app-tape-recorder-button>
            </div>
        </div>
    </div>
</div>