$width: 224px;
$bgcolor: #3f4142;
$external-notch-shape: polygon(100% 0, 0 5%, 0 95%, 100% 100%);

.cassette {
    width: $width;
    background: linear-gradient($bgcolor, darken($bgcolor, 10%));
    border-radius: calc($width / 30);
    border-top: 2px solid #ffffff4e;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before,
    &::after {
        content: "";
        display: block;
        width: calc($width / 90);
        height: calc($width / 6);
        position: absolute;
        bottom: calc($width / 22);
        clip-path: $external-notch-shape;
    }

    &::before {
        left: calc(calc($width / 448) * (-5));
        background: darken($bgcolor, 5%);
    }

    &::after {
        right: calc(calc($width / 448) * (-5));
        transform: scaleX(-1);
        background: darken($bgcolor, 5%);
    }

    & .medium-tape {
        margin-top: 5.5%;
        display: flex;
        justify-content: center;

        & .label-container {
            width: 90%;
            background: darken($bgcolor, 5%);
            border-radius: calc(calc($width / 112) * 3);
            padding: calc($width / 100);

            & .label {
                background-image: repeating-linear-gradient(
                        transparent 0 calc($width * 20 / 448),
                        #c4c4c4 calc($width * 20 / 448) calc($width * 21 / 448)
                    ),
                    linear-gradient(278deg, #f3f3f3, #e8e8e8);
                border-radius: calc($width / 45);

                & .top-label {
                    height: calc($width / 7.3);

                    & .top-text {
                        font-family: "Captions";
                        font-size: calc($width / 12);
                        line-height: 110%;
                        text-align: center;
                        transform: translateY(calc($width / 50));

                        & div {
                            color: #484848;
                        }
                    }
                }

                & .medium-label {
                    height: calc($width / 3.5);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 0 calc($width / 45) calc($width / 45);

                    & .gap-container {
                        width: calc($width / 1.81);
                        height: calc($width / 6);
                        border: calc($width / 100) solid darken($bgcolor, 10%);
                        background: darken($bgcolor, 5%);
                        border-radius: 3em;

                        & .gap {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            & .tapereel {
                                width: calc($width / 9);
                                height: calc($width / 9);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                border: calc($width / 100) solid #eeeeee;
                                box-shadow: 0 0 0 calc($width / 120) #5a5a5a;
                                background: radial-gradient(
                                    #cccfd6 5%,
                                    #65676d 25%,
                                    #000000 80%
                                );

                                &.left {
                                    animation: spin 6s linear infinite reverse;
                                }

                                &.right {
                                    animation: spin 8s linear infinite reverse;
                                }

                                & .notch {
                                    background: linear-gradient(
                                        to right,
                                        #eeeeee 0 10%,
                                        transparent 12% 88%,
                                        #eeeeee 90% 100%
                                    );
                                    width: calc($width / 9);
                                    height: calc($width / 50);
                                    position: absolute;
                                }

                                & .notch-1 {
                                    transform: rotate(60deg);
                                }
                                & .notch-2 {
                                    transform: rotate(0deg);
                                }
                                & .notch-3 {
                                    transform: rotate(-60deg);
                                }
                            }

                            & .central-gap {
                                width: calc($width / 4.5);
                                height: calc($width / 9);
                                border: calc($width / 150) solid
                                    darken($bgcolor, 14%);
                                border-top: calc($width / 150) solid
                                    darken($bgcolor, 18%);
                                border-bottom: calc($width / 150) solid
                                    darken($bgcolor, 10%);
                                background: #222225;
                                margin: 0 calc($width / 40);
                                overflow: hidden;
                                position: relative;

                                &::after {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    background-image: linear-gradient(
                                        transparent,
                                        #fff5,
                                        transparent
                                    );
                                    position: absolute;
                                    top: 0;
                                }

                                & .innertape {
                                    width: calc($width / 3);
                                    height: calc($width / 3);
                                    border-radius: 50%;
                                    background: radial-gradient(
                                        #9a7e79 30%,
                                        #362d2d 47% 100%
                                    );
                                    border: calc($width / 150) solid #212121;
                                    position: relative;

                                    &.left {
                                        transform: translate(-81%, -35%);
                                    }

                                    &.right {
                                        transform: translate(42%, -137%);
                                        box-shadow: -10px -10px 15px #3335;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & .bottom-tape {
        height: calc($width / 5.6);
        display: flex;
        justify-content: center;
        align-items: flex-end;

        & .magnetic-shield-container {
            filter: drop-shadow(-4px 0 2px #13131315)
                drop-shadow(4px 0 2px #38383815);

            & .magnetic-shield {
                border-top: 1px #ffffff3c solid;
                background: linear-gradient(
                    darken($bgcolor, 7%),
                    darken($bgcolor, 11%)
                );
                width: calc($width / 1.3);
                height: calc($width / 7);
                clip-path: polygon(0 100%, 4% 0, 96% 0, 100% 100%);
                display: flex;
                justify-content: space-between;
                transform: translateY(calc($width / 100));
                border-radius: calc($width / 100);
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
