@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Captions';
  src: url('./assets/fonts/Captions.otf') format('opentype');
}

@tailwind base;
@layer base {
    .font-bebas-neue {
      letter-spacing: 0.05rem;
    }
    .bottom-side-gradient {
      background: linear-gradient(
        to left,
        #d1d5db55 0%,
        #f3f4f6 5%,
        #f3f4f6 95%,
        #d1d5db55 100%
      );
    }

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
@tailwind components;
@tailwind utilities;